<% layout('layouts/boilerplate') %>
<h1>Edite el campamento</h1>
<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
  <!-- con ?_method=PUT en este caso mandamos a llamar a method-override y cambiamos el metodo de envio de POST a PUT -->
  <div>
    <label for="title">Titulo</label>
    <input
      type="text"
      value="<%= campground.title %> "
      id="title"
      name="campground[title]"
    />
  </div>
  <div>
    <label for="location">Locación</label>
    <input
      type="text"
      value="<%= campground.location %>"
      id="location"
      name="campground[location]"
    />
  </div>
  <button>Editar</button>
</form>
<form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
  <button>Eliminar</button>
</form>
<a href="/campgrounds/<%=campground._id%>">Regreso al campamento</a>
